{% extends 'main.html' %}
{% load static %}


{% block content %}

<!-- Style -->
<style>
    #characterCard:hover {
        background-color: #0F75BC !important;
        border-radius: 30px;
    }

    #freemiumButton:hover {
        background-color: #0f7b16 !important;
        color: white !important;
    }

    body {
    /* background: linear-gradient(#ffffff, #0F75BC) !important; */
    background-image: url('/static/images/background/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

</style>





<div class="container-fluid">
    <div class="row d-flex justify-content-center p-3">
        <div class="col d-flex justify-content-center">
            <h1 class="text-center shadow-lg rounded p-3" style="font-weight: 900; color: #0F75BC;"> Pick a shore buddy to register </h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-1 p-5">

        <div class="col-12 col-sm-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a  id = "characterCard" href="{% url 'registerTurtle' %}"> <img class = "shadow-lg" src="{% static 'images/characters/turtle.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-12 col-sm-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard"  href="{% url 'registerWhale' %}"> <img class = "shadow-lg" src="{% static 'images/characters/whale.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-12 col-sm-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerSeal' %}"> <img class = "shadow-lg" src="{% static 'images/characters/seal.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-12 col-sm-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerDolphin' %}"> <img class = "shadow-lg" src="{% static 'images/characters/dolphin.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-12 col-sm-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerSeagull' %}"> <img class = "shadow-lg" src="{% static 'images/characters/seagull.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

    </div>
</div>





<div class="container-fluid p-3" style="background-color: #0F75BC; height: 1000px;">
    <div class="row">
        <div class="col">
            <p class="text-center text-white" style="font-size: 20px;">  Don't have a Shore Buddy to register? </p>
        </div>
    </div>




    <div class="row">
        <div class="col d-flex justify-content-center">
            <a id = "freemiumButton" class="shadow-lg btn d-flex justify-content-center" href="{% url 'registerFreemium' %}" style="background-color: #18a421; width: 400px; height: 60px; border-radius: 150px;">
                <h5 class="text-center text-white" style="margin-top: 12px;"> Sign up for a Freemium Account </h2>
            </a>
        </div>
    </div>
 </div> 







 
    

{% endblock %}

