{% extends 'main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->




{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 style="color: #008bc8; font-weight: 800;"> Profile Page </h1>
        </div>
    </div>
</div>





<div class="container mt-5 rounded text-white" style="background-color: #008bc8;">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <h1> {{ user.username }} </h1>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img src = "{{ request.user.profile.profile_picture.url }}" style=
            "border-radius: 100px; 
            height: 200px; 
            width:200px;">
          
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <p class="bg-danger rounded bg-white" style="color: #008bc8;"> {{ user.profile.bio }} </p>
        </div>
        <div class="col-6 text-center">
            <p> {{ user.profile.firstName }}  {{ user.profile.lastName }} </p>
            <p> Age: {{ user.profile.age }}  </p>
            <p> 
                {% for group in user.groups.all %}
                    User Type: <span style="font-weight: 800;"> {{ group.name }} </span> 
                {% endfor %}
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <a href = "{% url 'editProfilePage' %}" style="font-size: 30px;"> Edit Profile </a>
        </div>
    </div>
</div>






  
{% endblock %} 