{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
    body {
        /* background: linear-gradient(#ffffff, #0F75BC) !important; */
        background-image: url('/static/images/background/background2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>







<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>



<div class="container-fluid p-5" style="margin-top: 50px;">

    <h1> Freemium Portal </h1>
    
    



    
</div> <!-- End of Container -->














{% endblock %}





