{% extends 'main.html' %}
{% load static %}


{% block content %}

<style>
    body {
        /* background: linear-gradient(#ffffff, #0F75BC) !important; */
        background-image: url('/static/images/background/background1.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Register Another Buddy</h1>
            <p> Pick a buddy to register </p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row d-flex justify-content-center p-3">
        <div class="col d-flex justify-content-center">
            <h1 class="text-center" style="font-weight: 900; color: #0F75BC;"> Pick a shore buddy to register </h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-1 p-5">

        <div class="col-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a  id = "characterCard" href="{% url 'registerTurtle2' %}"> <img class = "shadow-lg" src="{% static 'images/characters/turtle.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard"  href="{% url 'registerWhale2' %}"> <img class = "shadow-lg" src="{% static 'images/characters/whale.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerSeal2' %}"> <img class = "shadow-lg" src="{% static 'images/characters/seal.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerDolphin2' %}"> <img class = "shadow-lg" src="{% static 'images/characters/dolphin.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center mx-2">
            <div class="d-flex justify-content-center" style="border-radius: 30px;">
                <a id = "characterCard" href="{% url 'registerSeagull2' %}"> <img class = "shadow-lg" src="{% static 'images/characters/seagull.png' %}" alt="turtle" style="width: 200px; height: 200px; border-radius: 30px;"> </a>
            </div>
        </div>

    </div>
</div>
    

{% endblock %}

