{% extends 'main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->




{% block content %}


<h1 class="text-center" style="font-weight: 800; font-size: 30px; color: #008bc8;"> Add a Post </h1>


<form method="POST" action="" enctype="multipart/form-data"  >
    {% csrf_token %}
    <div class="form-group p-1">
        <label for="{{form.postTitle.id_for_label}}" style="color: #008bc8; font-weight: 500;">Title</label>
        <input type="text" name="{{form.postTitle.name}}" style="height: 50px;" class="form-control" id="{{form.postTitle.id_for_label}}" value="{{form.postTitle.value}}">
    </div>
  
    <div class="form-group p-1">
        <label for="{{form.postBody.id_for_label}}" style="color: #008bc8; font-weight: 500;">post body </label>
        <input type="text" name="{{form.postBody.name}}" style="height: 50px;" class="form-control" id="{{form.postBody.id_for_label}}" value="{{form.postBody.value}}">
    </div>
  
  
    <div class = "p-1">
        <button type="submit" class="btn" style="background-color: #008bc8; color: white; font-weight: 500;">Make post  </button>
        {{form.errors}} 
    </div>     
  </form>






  
{% endblock %} 