{% extends 'base/main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->


{% block content %} <!-- Start Block -->








<!-- Hello Message -->
<div class="row mt-5 p-5" style="background-color: #008bc8;">
    <div class="col">
        <h1 class = "text-center text-white" > Hello, {{request.user}}</h1>
    </div>
</div>


<div class="container d-flex justify-content-center mt-5" style="background-color: #008bc8;">
    <div class="row">
        <div class="col text-white text-center">
            <h1> User Portal </h1>
            <h1>
                {% for group in user.groups.all %}
                {{ group.name }} User
                {% endfor %}
            <h1>
        </div>
    </div>
</div>

<div style="margin-top: 1000px;">
    
</div>









{% endblock %} <!-- End Block -->
