{% extends 'base/main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->


{% block content %} <!-- Start Block -->


<h1> Welcome to the portal </h1>

<h1>
    {% for group in user.groups.all %}
    {{ group.name }} User
    {% endfor %}
<h1>

<!-- Hello Message -->
<div class="row bg-primary mt-5 p-5">
    <div class="col">
        <h1 class = "text-center text-white" > Hello, {{request.user}}</h1>
    </div>
</div>









{% endblock %} <!-- End Block -->
