{% extends 'base/main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->


{% block content %} <!-- Start Block -->

<h1> Register Page </h1>

<!-- Row for Freemium box  -->
<div class="container">
    <div class="row bg-danger mt-5">
        <div class="col">
            <h1> Resister as a Freemium User </h1>
            <a href="{% url 'registerFreemium' %}"> Register Freemium  </a>
        </div>
    </div>

    <!-- Row for Premium box  -->
    <div class="row bg-danger mt-5">
        <div class="col">
            <h1> Resister as a Premium User </h1>
            <a href="{% url 'registerPremium' %}"> Register Premium </a>    
        </div>
    </div>

<!-- Row for Unlimited box  -->
    <div class="row bg-danger mt-5">
        <div class="col">
            <h1> Resister as a Unlimited User </h1>
            <a href="{% url 'registerUnlimited' %}"> Register Unlimited  </a>
        </div>
    </div>
</div>



{% endblock %} <!-- End Block -->
