{% extends 'base/main.html' %} <!-- Extends the parent template -->
{% load static %} <!-- Allows us to use static files (css/images/javascript) -->


{% block content %} <!-- Start Block -->

<h1 class="text-center" style="font-weight: 800; font-size: 30px; color: #008bc8;"> Unlimited Registration </h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="POST" action="">
                {% csrf_token %}
            <div class="form-group p-1">
                    <label for="{{form.first_name.id_for_label}}" style="color: #008bc8; font-weight: 500;">First Name:</label>
                    <input type="text" name="{{form.first_name.name}}" style="height: 50px;" class="form-control" id="{{form.first_name.id_for_label}}" value="{{form.first_name.value}}">
                </div>
            <div class="form-group p-1">
                    <label for="{{form.last_name.id_for_label}}" style="color: #008bc8; font-weight: 500;">Last Name:</label>
                    <input type="text" name="{{form.last_name.name}}" style="height: 50px;" class="form-control" id="{{form.last_name.id_for_label}}" value="{{form.last_name.value}}">
                </div>
            <div class="form-group p-1">
                    <label for="{{form.age.id_for_label}}" style="color: #008bc8; font-weight: 500;">Age:</label>
                    <input type="number" name="{{form.age.name}}" style="height: 50px;" class="form-control" id="{{form.age.id_for_label}}" value="{{form.age.value}}">
                </div>
                <div class="form-group p-1">
                    <label for="{{form.username.id_for_label}}" style="color: #008bc8; font-weight: 500;">Username:</label>
                    <input type="text" name="{{form.username.name}}" style="height: 50px;" class="form-control" id="{{form.username.id_for_label}}" value="{{form.username.value}}">
                </div>
                <div class="form-group p-1">
                    <label for="{{form.email.id_for_label}}" style="color: #008bc8; font-weight: 500;">Email:</label>
                    <input type="email" name="{{form.email.name}}" style="height: 50px;" class="form-control" id="{{form.email.id_for_label}}" value="{{form.email.value}}">
                </div>
            <div class="form-group p-1">
                    <label for="{{form.guardian_name.id_for_label}}" style="color: #008bc8; font-weight: 500;">Guardian Name:</label>
                    <input type="text" name="{{form.guardian_name.name}}" style="height: 50px;" class="form-control" id="{{form.guardian_name.id_for_label}}" value="{{form.guardian_name.value}}">
                </div>
            <div class="form-group p-1">
                    <label for="{{form.guardian_email.id_for_label}}" style="color: #008bc8; font-weight: 500;">Guardian Email:</label>
                    <input type="email" name="{{form.guardian_email.name}}" style="height: 50px;" class="form-control" id="{{form.guardian_email.id_for_label}}" value="{{form.guardian_email.value}}">
                </div>
                <div class="form-groupc p-1">
                    <label for="{{form.password1.id_for_label}}" style="color: #008bc8; font-weight: 500;">Password:</label>
                    <input type="password" name="{{form.password1.name}}" style="height: 50px;" class="form-control" id="{{form.password1.id_for_label}}">
                </div>
                <div class="form-group p-1">
                    <label for="{{form.password2.id_for_label}}" style="color: #008bc8; font-weight: 500;">Confirm Password:</label>
                    <input type="password" name="{{form.password2.name}}" style="height: 50px;" class="form-control" id="{{form.password2.id_for_label}}">
                </div>
                <div class = "p-1">
                    <button type="submit" class="btn" style="background-color: #008bc8; color: white; font-weight: 500;">Create User</button>
                    {{form.errors}}
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %} <!-- End Block -->
